<section class="blog-detail mtb-40">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="blog-left">
            <h1>Why Going Away is not Easy</h1>
            <div class="posted-on">
                <p>by <span>Juhi Kushwah</span> on <span>March 10, 2019</span></p>
            </div>
            <div class="detail-img">
               <img src="assets/images/img1.jpg" alt="blog1">
            </div>
            <div class="blog-desc">
              <p>I grew up in Delhi. I was born in Indore. It's in Madhya Pradesh and is known for the 
                  delicious Indian food-Poha. My maternal grandparents live in Gwalior, which is also in 
                  Madhya Pradesh, so these two cities have been close to my heart and of course Delhi is
                  my home, so naturally this is where my heart is. I have never known the pain of leaving 
                  my home town because my school was in Delhi, college was in Noida, that too somewhere 
                  near  Noida  border, thus close to my home. I got a job offer from Wipro and the 
                  location was Orissa, but by that time I had decided that I want to pursue masters so 
                  I didn't take up that job and studied for exams. I had decided that I will go to the 
                  USA for my masters. After going through exams and working on my documents for 
                  application for various universities that I had shortlisted, I finally got accepted 
                  into one.
               </p>
               <p>I am in that phase of life where I know I will be leaving soon, and won't be seeing the
                  roads of Delhi for a while, or the roads of Indore or Gwalior for that matter. When I 
                  had taken up this decision, I didn't know I would feel this way. I can feel the 
                  nostalgia already. If you are a true Delhiite, you would know the charms of North 
                  Campus, Hudson Lane, Kamla Nagar, Patel Chest, Ridge, Tibetan Market, India Gate, 
                  Qutab Minar and how can I forget, Chandni Chowk, CP….and it's a never ending list. My 
                  previous home was so close to Hudson Lane. For me it was like an evening walk. Last 
                  year only, we shifted to South Delhi, and because I was busy with my exam, I haven't 
                  really been able to explore the nearby places much, however, Lajpat Nagar and Sarojini
                  Nagar markets are closest to my place(which I used to go to as a kid), so is South 
                  Extension and whatever time I am left with, I am trying to spend it with friends in 
                  Delhi.    
               </p>
               <p>I feel a weird kind of pain in my chest when I think about those outings with my cousins
                  to India Gate after a light breeze and these days it has become so crowded, but a few 
                  years back, was the time when India gate didn't use to be that crowded. It was really 
                  beautiful. You could see the people selling bhel puri, small toys, specially the bubble 
                  maker, which I really used to love, and there were so many ice-cream stalls. I know 
                  Delhi is one of the most polluted cities and the sky is covered with so much smoke and 
                  pollutants that stars are not visible clearly anymore, but there was a time when one 
                  could see a sky full of stars. We used to go to Shankar's Doll Museum, Rail Museum, 
                  Nehru Planetarium, and various other places for school trips. I belong to that 
                  generation of people who have seen Appu Ghar. Delhi has been called a 'Rape Capital' a 
                  lot many times, to me, it has always been a safe haven, probably because I grew up here. 
            </p> 
            <p>If I talk about Indore and Gwalior, I really feel like I am holding sand tightly in my 
               fist, and the more I press it, the more it escapes. These two cities are my second home. 
               Vacations meant meeting all my cousins from the maternal as well as paternal side. My home
               in Indore is actually an ancestral home. It had a big garden with jamun tree, mango tree, 
               papaya tree, berry tree and guava tree. Few years back, those trees were cut down and the 
               remaining plot was used to construct a new home, which could accommodate more family 
               members, since, with passing time, our family has grown bigger. But, when I think about 
               Indore, it's always those childhood days I have spent with cousins in the garden and the 
               road trips from Indore to Dewas where my uncle is posted. We used to spend two or three 
               days with him and then get back home. Whenever, there used to be a traditional pooja at 
               home, we all cousins would gather and look for reasons to escape and the whole fiasco 
               around it would lead to hilarious situations. With siblings all around, everyday in Indore 
               was like a carnival. We used to play with kids in the neighborhood even though all of us 
               together were more than enough! We used to have a pillow fights before going to bed, we 
               used to eat ice-creams everyday and play video games.
            </p>
            <p>Gwalior on the other hand, is a very calm city. My grandmother is my role model. My 
               grandfather was one of the highest ranking officers in Madhya Pradesh. After retirement, 
               they started living in Gwalior. There was some issue with our ancestral home in Gwalior so 
               they lived somewhere else and bought a new plot where our new home is situated now. My 
               grandmother makes delicious food, and even at 67, she is one hell of an active lady! 
               Gwalior to me has always meant peace. All my family members in Gwalior are just the 
               opposite of those in Indore. They lead a very disciplined life. Everybody wakes up at 
               7:00 a.m., there is no concept of breakfast as such, it's more like a brunch, at 
               10:30 a.m., snacks and tea at 2:30-3:00 p.m. and dinner at 6:30 p.m. People over there 
               generally sleep by 8:30. In fact, my uncle wakes up at 4 in the morning, goes about his 
               morning ablutions and does yoga while watching sunrise. Even though I am all grown up now, 
               our aunt tells us stories. Few years back, when I was in 10th grade, my mother's 
               grandmother was alive, she was going through that phase where she was living her second 
               childhood which generally old people do. She was really old, she passed away at 92. At 85,
               she liked to help my grandmother with the kitchen chorus, and she would take offence if 
               somebody else in the house chopped vegetables. She has lived a beautiful life. I used to 
               spend time with them and there was some sort of a mental peace which I have been missing 
               lately. This is maybe a void created by our elders when they pass away. My maternal 
               grandfather was like a father figure to me, he also went through his second childhood 
               and it was so much fun to be around him. He passed away two years back. My paternal 
               grandmother passed away three years back. Time is going by, and making sure that it's 
               presence is felt. 
            </p>
            <p>I grew up in Delhi, but I could never mix up with the hippie culture of Delhi. I won't say
               I never fit in, because I did. I am an atheist but whenever there has been a pooja at 
               home, I have always been a part of it. That way I am old school. I have best friends, but 
               there is no comparison to my siblings, and I have always chosen them over everyone. My 
               siblings have been my favourite people, now when the time to leave is close by, I can 
               feel that I am trying to chase something that I will never be able to get. One thing I 
               do know for sure, I would capture it all, if only time could freeze.
            </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
            <app-featured-articles></app-featured-articles>
            <app-categories></app-categories>
        </div>
      </div>
    </div>
  </section>