<section class="featured-blog mtb-40">
    <div class="container">
      <div class="row">
          <h2 class="title-heading">Latest Articles</h2>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/img1.jpeg" alt="blog1">
            <h3>Why Going Away is not Easy</h3>
            <p>by <span>Juhi Kushwah</span></p>
            <p> Story of a person's attachment to the culture and vibe of a city ...</p>
            <a href="#" class="btn btn-primary">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/img2.png" alt="blog1">
            <h3>I Saw A Ghost...Or Did I?</h3>
            <p>by <span>Juhi Kushwah</span></p>
            <p>I am allergic to dust. While dusting, if I don't cover my mouth, I start sneezing which is followed...</p>
            <a href="#" class="btn btn-primary">Read more...</a>
          </div>
        </div> 
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/img3.jpeg" alt="post1">
            <h3>Elsa Decides to Escape</h3>
            <p>by <span>Juhi Kushwah</span></p>
            <p>Their happiness is short-lived when she learns that she will be giving birth to twins...</p>
            <a href="detail.html" class="btn btn-primary">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/img4.jpg" alt="post2">
            <h3>Respect: A two-syllable word</h3>
            <p>by <span>Juhi Kushwah</span></p>
            <p>The story describes how people immediately judge others on the basis of their looks and appearance, heed...</p>
            <a href="detail.html" class="btn btn-primary">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/img5.jpeg" alt="post3">
            <h3>Being dark-toned is a crime!</h3>
            <p>by <span>Juhi Kushwah</span></p>
            <p>How our society is still hung up on the regressive ideas like body-shaming...</p>
            <a href="detail.html" class="btn btn-primary">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/img6.jpeg" alt="post4">
            <h3>It Takes Courage To...</h3>
            <p>by <span>Juhi Kushwah</span></p>
            <p>When you suffer repeatedly, it becomes a habit...</p>
            <a href="detail.html" class="btn btn-primary">Read more...</a>
          </div>
        </div>
      </div>
    </div>
  </section>