<div class="widget right-widget recent-post">
    <h4 class="widget-title">Featured Posts</h4>
    <a href="/article/1">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/img1.jpg" alt="blog1">
            </div>
            <div class="rb-box-desc">
                <h5>Why Going Away is not Easy</h5>
                <p>by <span>Juhi Kushwah</span></p>
                <p>Posted On: March 10, 2019</p>
            </div>
        </div>
    </a>
    <a href="/article/2">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/img2.jpg" alt="blog1">
            </div>
            <div class="rb-box-desc">
                <h5>I Saw A Ghost...Or Did I?</h5>
                <p>by <span>Juhi Kushwah</span></p>
                <p>Posted On: March 10, 2019</p>
            </div>
        </div>
    </a>
    <a href="/article/3">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/img3.jpg" alt="blog1">
            </div>
            <div class="rb-box-desc">
                <h5>Elsa Decides to Escape</h5>
                <p>by <span>Juhi Kushwah</span></p>
                <p>Posted On: March 10, 2019</p>
            </div>
        </div>
    </a>
    <a href="/article/4">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/img4.jpg" alt="blog1">
            </div>
            <div class="rb-box-desc">
                <h5>Respect: A two-syllable word</h5>
<p>by <span>Juhi Kushwah</span></p>
                <p>Posted On: March 10, 2019</p>
            </div>
        </div>
    </a>
    <a href="/article/5">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/img5.jpg" alt="blog1">
            </div>
            <div class="rb-box-desc">
                <h5>Being fat is a crime!</h5>
<p>by <span>Juhi Kushwah</span></p>
                <p>Posted On: March 10, 2019</p>
            </div>
        </div>
    </a>
  </div>